---
---

@import "{{ site.theme }}";

.full-width-footer{
  width: 860px;
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px dotted #eee;
  bottom: 0;
}

.current{
  color: black;
}
.cat{
  color: #aaa;
}
.cat::after{
  content: ", ";
  color: #000;
}
.cat:last-child::after{
  content: "";
}
.footer-nav{
  margin: 0 auto;
}

.footer-nav > a::after{
  content:   " \00B7";
  color: #aaa;
}
.footer-nav > a:last-child::after{
  content: "";
}
.footer-nav > a:first-child::after{
  content: " /";
    color: #000;
}

/*-two-col-layout-*/
.two-col>p{
  width: 50%;
  float: left;
}
.two-col>p:nth-child(odd){
  margin-right: 1em;
}
.two-col>p:nth-child(even){
  margin-left: 1em;
}
