<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>{{ page.title | default: site.github.repository_name }}</h1>

            <p>{{ page.description | default: site.github.project_tagline }}</p>


            <nav class="side-menu">
              Posts<br />
                {% for post in site.posts %}
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br />
                {% endfor %}


                {% if site.categories != empty %}
                <br />Kategorien<br />
                <span class="cat-list">
                  {% for category in site.categories %}
                      <a href="/category/{{ category[0] }}/">{% if category[0] == 'Dev' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize }}{% endif %}</a><br />
                  {% endfor %}
                </span>
                {% endif %}

            </nav>
        </header>

        <section>
            {{ content }}
        </section>

        <footer>
            {% if site.github.is_project_page %}
                <p>By <a href="{{ site.github.owner_url }}">Friedrich</a></p>
            {% endif %}
        </footer>
    </div><!-- wrapper -->

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>

</html>
